certifi==2020.12.5
chardet==3.0.4
docutils==0.16
idna==2.8
Pygments==2.7.3
pyTelegramBotAPI==3.7.5
python-dateutil==2.8.0
pytz==2019.1
qiwi-payments==0.1
requests==2.22.0
SimpleQIWI==0.7
six==1.15.0
urllib3==1.25.11
uuid==1.30
